body {
    width: 80%;
    margin: 20px auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    font-weight: bold;
    color: black;
}

a:hover {
    color: gray
}

a:active {
    color: darkgray
}

header {
    border-bottom: 3px solid black;
    padding-bottom: 10px;
}

header a {
    text-decoration: none;
}

li {
    display: inline;
    margin-right: 50px;
    font-size: 2em;
}

li.right {
    float: right;
}

article {
    letter-spacing: -0.3px;
}

article img {
    width: 100%;
    padding: 0px auto;
    margin: 0;
}

article p {
    font-size: 1.5em;
}

.quote {
    display: flex;
    font-size: 1.5em;
    border-top: 1px darkgray solid;
    border-bottom: 1px darkgray solid;
}

.quote b {
    margin-top: 25px;
    display: inline;
    font-size: 2.5em;
}

.quote i {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 50px;
}

.lead {
    font-size: 1.2em;
    margin: 0;
    color: gray;
}

h3 {
    font-size: 1.5em;
}

h1 {
    margin: 0;
    font-size: 3em;
}

article a {
    color: black;
    font-weight: bold;
}

footer {
    border-top: 3px solid black;
    padding-top: 15px;
}

footer h3 {
    color: black;
    display: inline;
}

footer p {
    margin: 0;
    font-size: 1.3em;
    display: inline;
    float: right;
}